{% extends 'base.html.twig' %}



{% block body %}
<div class="content-container">
   {{ parent () }}

{% block content %}
.
    <div class="culture-item"> Tourisme  </div>
    <div class="culture-item"> Musique </div>
    <div class="culture-item"> Littérature </div>
    <div class="culture-item"> Cuisine </div>

{% endblock %}

</div>


{% endblock %}