{% extends 'base.html.twig' %}

{% block content %}


    <div class="title-section">
    <h1 class="article-section-title">Page non trouvée</h1>
        <p> La page que vous avez demandé n'existe pas.  </p>

        <button class="back-main btn btn-light"><a href="{{ path('main') }}">Retour à l'acceuil</a></button>
    </div>



{% endblock %}